.footer {
  background-color: var(--background-primary);
  padding: 1rem 100px;
  font-family: var(--main-font);
  color: var(--text-color);
}

.divider {
  border-bottom: 1px solid var(--text-color);
  height: 1.6rem;
  margin-bottom: 0.25rem;
}