.card,
.saveBtn .icon
{
  transition: 0.2s ease-in-out;
}

.card {
  min-width: 344px;
  height: 386px;
  background: var(--card-bg-color);
  border-radius: 1.875rem;
  box-shadow: 0px 19px 47px var(--light-shadow);
}

.card:hover {
  box-shadow: 0px 10px 10px 5px var(--dark-shadow);
}

.image {
  width: 100%;
  height: 58%;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: top;
  justify-content: right;
}

.saveBtn::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background: var(--card-bg-color);
  opacity: 0.4;
  border-radius: 50%;
  z-index: 1;
}

.saveBtn {
  position: relative;
  border: none;
  border-radius: 50%;
  margin: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveBtn:hover {
  background-color: transparent;
}

.saveBtn .icon {
  position: absolute;
  top: 2px;
  left: 3;
  fill: var(--background-primary);
  width: 30px;
  height: 30px;
  z-index: 2;
}

.saveBtn .icon.hover {
  opacity: 0;
}

.saveBtn:hover .icon.default {
  opacity: 0;
}

.saveBtn:hover .icon.hover,
.icon.selected {
  opacity: 1;
}

.wrapper {
  height: 42%;
  padding: 1.25rem 1.4rem 0.8rem 1.75rem;
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  gap: 0.75rem;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  gap: 0.2rem;
}

.dateContainer>.month {
  font-size: 0.875rem;
  color: var(--month-color);
}

.dateContainer>.day {
  font-size: 1.75rem;
  color: var(--cont-text-color);
}

.dateContainer>.time {
  font-size: 1rem;
  color: var(--cont-subtext-color);
  font-family: var(--main-font);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info>.title {
  font-size: 1.25rem;
  font-family: var(--event-title);
  color: var(--cont-text-color);
  max-height: 3rem;
  overflow-y: hidden;
}

.info>.address {
  font-size: 1rem;
  color: var(--cont-subtext-color);
}

.buttonLink {
  width: 130px;
  border: 3px solid var(--accent-button-color);
  align-self: flex-end;
  color: var(--button-text-color);
}

.buttonLink:hover {
  cursor: pointer;
  background-color: var(--accent-button-color);
  color: var(--text-color);
}